<table>
   <tr class='personRow'>
      <th>President</th>
      <td>Ian Holden</td>
      <td>
         <ul>
            <li>Central contact for the league</li>
            <li>Responsible for general operation of the league</li>
            <li>Co-ordinates pre-season activities - executive kick-off meeting and captains meeting</li>
         </ul>
      </td>
   </tr>
   <tr class='personRow'>
      <th>Commissioner</th>
      <td>Chris Brown</td>
      <td>
         <ul>
            <li>Review league rules to ensure clarification and intent, updating as required</li>
            <li>Resolve rules conflicts</li>
            <li>Generate ground rules for diamonds, where needed</li>
            <li>Problem Resolution and discipline</li>
            <li>Convenes appropriate hearing to investigate any concerns about discipline</li>
            <li>Enforces league's Code of Discipline</li>
         </ul>
      </td>
   </tr>
   <tr class='personRow'>
      <th>Treasurer</th>
      <td>Scott Mills</td>
      <td>
         <ul>
            <li>Balancing financial books</li>
            <li>Preparing seasonal budget and monitoring spending to budget</li>
            <li>Interface with bank</li>
            <li>Collection of team fees and deposit at start of season</li>
            <li>Return of deposits at end of season</li>
         </ul>
      </td>
   </tr>
   <tr class='personRow'>
      <th>Webmaster &amp; Scheduler</th>
      <td>Ian Holden <br /> <a href="mailto:<?= $this->config->item( 'my_replyAddress' ); ?>"><?= $this->config->item( 'my_replyAddress' ); ?></a></td>
      <td>
         <ul>
            <li>Ensure general opration of league web site for information dissemenation</li>
            <li>Maintain and publish stats and standings</li>
            <li>WWW Home Page Administration</li>
         </ul>
         <ul>
            <li>Generates season schedule according to format agreed to by Executive</li>
            <li>Monitors schedules during season to ensure games are rescheduling appropriately when requuired</li>
         </ul>
      </td>
   </tr>
</table>
