<h1>Welcome</h1>

<p>
You are visiting the website for the Ottawa Tech Softball League, a league that has seen teams playing softball
in Ottawa's West end area for more than 25+ years. Our season runs from May through the middle
of September with games played Tuesday thru Thursday on diamonds in the West end. Games are played at
4:45pm and 6:15pm each evening with teams playing once a week normally.
</p>

<p>
In March and April of each year, new players who are interested in joining teams are welcome to give us
their contact details. As team captains indicate they need players, we will offer them your information so they
can contact you about their team. Please come back to our website in March and April if you thinking about 
trying to find a team to play on.
</p>

<p>
Feel free to visit our site to learn more about the league. You can also use our contact page to send us any
questions you may have about the league. Someone will get back to you within 72 hours with an answer.
</p>